/*

DISCLAIMER:; This guide is mean to help define UI elements and
overall look and feel. For best practices in actually coding
these elements, please refer to your own methods. Because mine
might make you cry.

*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

@font-face {
  font-family: 'pro-font';
  src:url('../fonts/pro-iconfont.eot?-snsa8v');
  src:url('../fonts/pro-iconfont.eot?#iefix-snsa8v') format('embedded-opentype'),
    url('../fonts/pro-iconfont.woff?-snsa8v') format('woff'),
    url('../fonts/pro-iconfont.ttf?-snsa8v') format('truetype'),
    url('../fonts/pro-iconfont.svg?-snsa8v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, input, select, button, p, a{
  font-family:'Roboto', Arial, 'sans-serif';
}
h1, h2, h3, h4, h5, h6{
  font-family:'Oxygen', Arial, 'sans-serif';
}
body, input, select, button, h1, h2, h3, h4, h5, p, a{
  font-weight: 300;
}
body, input, button, select {
  color:#4f4f4f;
  font-size:14px;
  line-height:1.6em;
} 

/* COLORS */
.bg-blue { background-color:#3c8fc9; }
.bg-light-blue { background-color:#76b0d9; }
.bg-lightest-blue { background-color:#b1d2e9; }

.txt-green{ color:#90B801;}
.bg-green { background-color:#b5d454; }
.bg-light-green { background-color:#cbe187; }
.bg-lightest-green { background-color:#e1eebb; }

.bg-orange { background-color:#f27321; }

.bg-plum { background-color:#8f2052; }
.bg-light-plum { background-color:#b06286; }
.bg-lightest-plum { background-color:#d2a6ba; }

.bg-lightest-gray{ background-color:#e9eaea; }
.bg-light-gray{ background-color:#bebfc1; }
.bg-gray{ background-color:#939597; }
.bg-subbrand-gray{ background-color:#636667; }
.bg-black{ background-color:#4f4f4f; }


/* TYPE */
h1{ font-size:24px; }
h2{ font-size:18px; }
h3{ font-size:16px; }
h4{ font-size:14px; }
h1, h2, h3, h4{
  margin-bottom:15px;
}
h5, h6{
  margin-top:18px;
  margin-bottom:10px;
}
h6{ text-transform: uppercase; }

@media (min-width: 600px) {
  h1{ font-size:28px; }
  h2{ font-size:21px; }
  h3{ font-size:18px; }
  h4{ font-size:14px; }
  h5{ font-size:12px; }
  h6{ font-size:11px; }
}

p{margin: 1em 0 1.25em 0 ;}

.block-title{
  border-bottom: 3px dotted #bebfc1;
  padding:15px 0;
  margin-top:30px;
}

a, a:hover{
  padding:0.22em 0;
  transition: background-color 0.3s ease;
  transition: padding 0.3s ease;
  color:#3c8fc9;
}

.content a:hover{
  border-bottom: 1px solid #76b0d9;
  text-decoration: none;
  -webkit-box-shadow: outset 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: outset 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: outset 0 2px 2px rgba(0, 0, 0, 0.2);
}

ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

.thin-wt{ font-weight:100; }
.light-wt{ font-weight:300; }
.reg-wt{ font-weight:400; }
.med-wt{ font-weight:500; }
.heavy-wt{ font-weight:700; }
.black-wt{ font-weight:900; }

.large-txt{ font-size:1.3em; line-height: 1.5em;}
.small-txt{ font-size:0.85em; }
.bullets { list-style: disc inside none; }


/* GRAPHICAL ELEMENTS */
.well{
  background-color: #fff;
  border:1px solid #e9eaea;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.well2{
  background-color: #e9eaea;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
}
hr{
  border-top: 1px solid #e9eaea;
  height: 1px;
  margin:1em 0;
}
.dotted{
  border-top: 3px dotted #e9eaea;
  color: #fff;
  background-color: #fff;
  height: 1px;
  padding:10px;
}
button{
  background:#76b0d9;
  color:#fff;
  border:none;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
  border-radius:3px;
  padding:8px 18px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  min-height:43px;
}
button:hover{
  background:#3c8fc9;
  color:#fff;
}
.btn{
  padding:8px 18px;
}
.btn:hover{
  color:#fff;
}
.btn-default{
  background-color:#e9eaea;
  border:1px solid #bebfc1;
}
.btn-default:hover{
  background-color: #bebfc1;
  color:#4f4f4f;
}
.btn-large{
  font-size:1.25em;
  font-weight:300;
}
.btn-xlarge{
  font-size: 1.4em;
  font-weight:300;
}
.btn-primary{
  background-color: #e9eaea;
  border:1px solid #bebfc1;
  color:#4f4f4f;
}
.btn-primary:hover{ 
  background-color:#bebfc1;
  border:1px solid #bebfc1;
  color:#4f4f4f;
}
.btn-secondary{
  background-color: #b5d454;
}
.btn-secondary:hover{
  background-color:#90B801;
}


/* FORMS */
input, select {
  margin-right:5px;
  margin-bottom: 3px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"]{
  background-color: #fff;
  border: 1px solid #bebfc1;
  -webkit-box-shadow: inset 0px 6px 3px -6px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 6px 3px -6px rgba(0,0,0,0.2);
  box-shadow: inset 0px 6px 3px -6px rgba(0,0,0,0.2);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  padding: 0 0.5em 0 0.7em;
  line-height: 1.5em;
  color: #4f4f4f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 28px;
  height: 43px;
  font-weight:300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus{
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  border:1px solid #76b0d9;
  font-style: normal;
  color: #4f4f4f;
  position: relative;
  z-index:1;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  font-weight:300;
  color: #bebfc1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-weight:300;
  color: #bebfc1;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-weight:300;
  color: #bebfc1;
}
label{
  font-weight:400;
  padding-right:8px;
  padding-top:10px !important;
}
select{
  padding:0.25em 0.5em;
  border:1px solid #bebfc1;
  color:#4f4f4f;
}

.form-control:focus{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border:1px solid #76b0d9;
}
.form-group{margin-bottom:5px;}
.form-group input{max-width:230px;}

.searchForm input[type="text"],
.searchForm input[type="password"],
.searchForm input[type="search"]{
  font-size:1.2em;
  height:50px;
}

.small-input{width: 120px;}

@media (min-width: 600px) {
  .inset-wrap{
    position:relative;
    display: inline-block;
  }
  .inset-wrap:after{
    display: table;
    clear: both;
    background: #fff;
    position: absolute;
    left: 242px;
    top: 14px;
    z-index: 1000;
    content: '+';
    font-size: 17px;
    font-weight:700;
    line-height: 1em;
    color: #939597;
    padding: 3px 3px 3px 4px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
  }
  .inset-wrap label{
    position: absolute;
    top:4px;
    padding-left:18px;
  }
  .inset-wrap .name-label{
    padding-left:10px;
  }
  .inset-wrap input[type="text"]{
    margin:0;
    display:block;
    float:left;
    background-color: transparent;
  }
  input.halfbox, input.halfbox-first, input.halfbox-last{
    border-right:none;
    border-left: 1px dashed #bebfc1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-left:-1px;
    z-index:99;
  }
  input.halfbox-first{
    -webkit-box-shadow: inset 0px 6px 3px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 6px 3px -6px rgba(0,0,0,0.2);
    box-shadow: inset 0px 6px 3px -6px rgba(0,0,0,0.2);
    border-left:1px solid #bebfc1;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    margin-left:0;
    padding-left:65px;
    width:250px;
  }
  input.halfbox-last{
    -webkit-box-shadow: inset 0px 6px 3px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 6px 3px -6px rgba(0,0,0,0.2);
    box-shadow: inset 0px 6px 3px -6px rgba(0,0,0,0.2);
    border-right:1px solid #bebfc1;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    padding-left:95px;
    width:300px;
  }
  .btn-inset{
    position:absolute;
    right:3px;
    top:3px;
    z-index: 2;
    height: 44px;
    /*text-indent: -9999px;
    width: 46px;*/
    font-size:24px;
    padding:0 0.4em;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    display:block;
    float:left;
  }
}


/* LEFT NAV */
.left-nav{
  background-color:#e9eaea;
  margin-bottom:2em;
  padding:1.3em 0;
  line-height: 1.8em;
  width:100%;
}
.left-nav a{
  color:#4f4f4f;
  font-weight:300;
  padding:15px 3em !important;
  display: block;
}
.left-nav a:hover,
.left-nav a:focus{
  color:#636667;
  background-color:#d0d1d2 !important;
  border-bottom:none;
  text-decoration: none;
}
.left-nav .active{
  background-color:#bebfc1;
  border-right:5px solid #f27321;
}
.left-nav ul{
  border-left:1px solid #bebfc1;
  margin-left:42px;
}
.nav-stacked > li + li{
  margin-top:0;
}
/*
.left-nav .active a:after{
  position: absolute;
  right:12px;
  font-size:1.4em;
  font-weight: bold;
  content: '\203A';
}
*/


img {max-width:100%;}
.container{ max-width:980px;padding:0 60px;}
.footer{
  border-top:1px solid #e9eaea;
  width:100%;
  margin:0;
  font-size:0.8em;
  padding:1em 0 0 0;
}
#logo{
  margin-top:30px;
  height:70px;
}
#logo a{
  text-indent:-9999px;
  background:url(../img/prologo-2x.png) no-repeat;
  background-size:auto 55px;
  height:100%;
  width:100%;
  display:block;
}
.main-nav{
  text-align: right;
}
.main-nav:after{
  display: table;
  content: " ";
  clear: both;
}
.main-nav li{
  display: inline;
  padding:0 1.3em;
}
.main-nav li:first-child{
  padding-left:0;
}
.main-nav a{
  font-weight:300;
  color:#4f4f4f;
  cursor: pointer;
}

/* content */
.section h1:first-child,
.section h2:first-child,
.section h3:first-child{
  border-bottom:1px solid #e9eaea;
  padding-bottom:10px;
  color:#f27321;
}

.colors .row{
  margin-left:0;
  margin-right:0;
}
.colors ul{
  margin-bottom:10px;
}
.colors li{
  padding:0.9em 1.5em; 
}
.bg-plum, .bg-subbrand-gray, .bg-black{ color:#e9eaea; }

.grays li {
  min-height:150px;
}
.section{
  padding:0 0 5em 0;
}
.guide-title{ 
  margin-bottom:-0.45em; 
  font-size:52px; 
  color:#e9eaea;
}


@media (min-width: 768px) {
  .container{
    padding:0 15px;
  }
  .header{
    border-bottom:1px solid #bebfc1;
  }
  .main-nav{
    margin-top:55px;
    margin-bottom:3em;
  }
  .nav-wrap{padding:0;}
  .left-nav{
    margin:40px 0 0 0;
    padding:0;
    position:fixed;
    width:25%;
  }
  .content{
    padding-left:80px;
    padding-right:80px;
    padding-top:40px;
    background-color:#fff;
    border-left:1px solid #bebfc1;
  }
  .section form{
    min-width:520px;
  }
  .wrapper{
    background-color:#e9eaea;
  }
  p {max-width:500px;}
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'pro-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#iconography .icon-pro{
  font-size:55px;
  margin:50px 0 0 0;
}

#iconography .icon-pro span{
  margin:0 35px 0 0;
}
