// Brand colors

$pro-white: #fff;
$pro-blue: #3c8fc9;
$pro-light-blue: #76b0d9;
$pro-lightest-blue: #b1d2e9;
$pro-dark-green: #90b801;
$pro-green: #b5d454;
$pro-light-green: #cbe187;
$pro-lightest-green: #e1eebb;
$pro-orange: #f27321;
$pro-plum: #8f2052;
$pro-light-plum: #b06286;
$pro-lightest-plum: #d2a6ba;
$pro-black: #4f4f4f;
$pro-subbrand-gray: #636667;
$pro-gray: #939597;
$pro-light-gray: #bebfc1;
$pro-lightest-gray: #e9eaea;

// Header font sizes

$font-size-h1: 28px;
$font-size-h1-mobile: 24px;
$font-size-h2: 21px;
$font-size-h2-mobile: 18px;
$font-size-h3: 18px;
$font-size-h3-mobile: 16px;
$font-size-h4: 14px;
$font-size-h4-mobile: 14px;
$font-size-h5: 12px;
$font-size-h5-mobile: 12px;
$font-size-h6: 11px;
$font-size-h6-mobile: 11px;

// Font weights

$weight-black: 900;
$weight-heavy: 700;
$weight-medium: 500;
$weight-regular: 400;
$weight-light: 300;
$weight-thin: 100;

$weight-bold : $weight-medium;
$weight-normal : $weight-light;

// Font sizes

$font-size-smaller: 12px;
$font-size-base: 14px;
$font-size-bigger: 16px;
$font-size-large: 18px;

// Bootstrap overrides

$brand-primary : $pro-blue;
$brand-success : $pro-gray;
$brand-info: $pro-lightest-gray;
$brand-warning: $pro-gray;
$brand-danger: $pro-orange;

$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #777;
$gray-lighter: #999;

$link-hover-color: $pro-light-blue;
$text-color: $pro-black;
$default-bg: $pro-white;

$headings-color: $pro-lightest-gray;
$headings-font-weight: $weight-normal;

$navbar-height: 75px;
$navbar-padding-vertical: 15px;
$navbar-default-bg: $pro-white;

$font-family-sans-serif: Roboto, Helvetica, Arial, sans-serif;
$font-family-headers: Oxygen, Helvetica, Arial, sans-serif;

// Misc.

$navbar-default-link-color: $pro-subbrand-gray;
$navbar-default-link-font-size: $font-size-bigger;
$navbar-default-link-active-color: $pro-light-gray;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-hover-color: $pro-light-blue;
$navbar-default-link-hover-bg: transparent;

$sidebar-color: $pro-black;
$sidebar-light-color: $pro-gray;
$sidebar-bg: $pro-lightest-gray;
$sidebar-menu-bg: $pro-gray;
$sidebar-menu-border-color: $pro-blue;
$sidebar-mobile-width: 250px;

$footer-main-menu-color: #db983e;
$footer-sub-menu-color: $pro-white;
$footer-menu-bg: #3f3f3f;

$footer-height: 60px;
$footer-link-color: $gray;
$footer-top-border-color: #ccc;
$footer-seperator-padding: 10px;
