@font-face {
	font-family: 'icomoon';
	src:url('fonts/pro-iconfont.eot?-snsa8v');
	src:url('fonts/pro-iconfont.eot?#iefix-snsa8v') format('embedded-opentype'),
		url('fonts/pro-iconfont.woff?-snsa8v') format('woff'),
		url('fonts/pro-iconfont.ttf?-snsa8v') format('truetype'),
		url('fonts/pro-iconfont.svg?-snsa8v#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pro-email:before {
	content: "\e600";
}
.icon-pro-landline:before {
	content: "\e601";
}
.icon-pro-mobile:before {
	content: "\e602";
}
.icon-pro-location:before {
	content: "\e603";
}
.icon-pro-ipaddress:before {
	content: "\e604";
}
.icon-pro-person:before {
	content: "\e605";
}
.icon-pro-thumbsup:before {
	content: "\e606";
}
.icon-pro-thumbsdown:before {
	content: "\e607";
}
.icon-pro-favorite:before {
	content: "\e608";
}
.icon-pro-checkmark:before {
	content: "\e609";
}
.icon-pro-x:before {
	content: "\e60a";
}
.icon-pro-exclamation:before {
	content: "\e60b";
}
.icon-pro-arrowdown:before {
	content: "\e60c";
}
.icon-pro-arrowup:before {
	content: "\e60d";
}
.icon-pro-arrowright:before {
	content: "\e60e";
}
.icon-pro-arrowleft:before {
	content: "\e60f";
}
.icon-pro-edit:before {
	content: "\e610";
}
.icon-pro-search:before {
	content: "\e611";
}
.icon-pro-settings:before {
	content: "\e612";
}
.icon-pro-mail:before {
	content: "\e613";
}
